/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/demo-runtime
/tools
/database/*.sqlite
/dist
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/**/*.txt
/storage/**/*.log
/storage/**/*.json
/storage/**/*.csv
/storage/**/*.sql
*.bak
